[submodule "tooling"]
	path = tooling
	url = https://github.com/CoolLibs/tooling
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glfw3webgpu"]
	path = lib/glfw3webgpu
	url = https://github.com/eliemichel/glfw3webgpu
[submodule "lib/WebGPU-distribution"]
	path = lib/WebGPU-distribution
	url = https://github.com/eliemichel/WebGPU-distribution
